@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

/* mobile syles */
main{
    width: 100%;
    height: 100vh;
}
.text-content{
    width: 100%;
    height: 23vh;
    display:block;
    
}
/* 
code for intro section */
#intro-section{
    padding: 2.5rem 1.5rem;
    justify-content:left;
    height: 33vh;
    
}


h1{
    font-size:1.9rem;
    color:#2AB3B1 ;
    font-weight: 900px;
    margin-bottom: 24px;
    
}

h2{
    font-size: 1.4rem;
    color: #C0DF33;
    margin-bottom: 16px;
    line-height:  26px;
   


}

p{
    font: size 0.875 rem;
    line-height:  26px;
    color: #9AA7BE;
    margin-bottom: 32px;

}

/* code for details section */


#details-section{
    padding: 2.5rem 1.5rem;
    justify-content:left;
    height: 33vh;
    background-color: #2AB3B1;
    
}

.signup-section{
    width: 100%;
    height: 23vh;
    display:block;
    
}


h3{
    font-size:1.25rem ;
    color:#ffff ;
    margin-bottom: 18px;
    line-height: 25px;

}

#price-amount{
    font-size: 32px ;
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
}

#frequency{
    color: #ffff;
    opacity: 50%;
}


#access{
    font: size 0.875 rem;
    line-height:  26px;
    color: #ffffff;
    margin-bottom: 32px;
}
   
#Sign-up{
    color: white;
    background-color: #C0DF33;
    width: 96%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight:900;
    letter-spacing: 1.2px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973);
}

/* code for why us section */


#footer{
    padding: 2.5rem 1.5rem;
    justify-content:left;
    height: 35vh;
    background-color: #4BBFBD;
    
}

#WhyUs{
margin-top: 25px;
margin-bottom:25px ;

}

#unordered-list{
    color:#ffffff;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* desktop */

@media (min-width : 1024px){

    main{
        width: 100%;
        height: 100vh;
    }
    .text-content{
        width: 100%;
        height: 23vh;
        display:block;
        
    }

    /* .super-container{
        display:flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 635px;
        height: 475px;
        background-color: #c8fdfc;
        border: 1px solid red; */


    }
    .parent-container{
        display: flex;
        height: 100vh;

    }

    #intro-section{
        padding: 2.5rem 1.5rem;
        justify-content:left;
        height: 33vh;
        
    }
    
    
    h1{
        font-size:1.9rem;
        color:#2AB3B1 ;
        font-weight: 900;
        margin-bottom: 24px;
        
    }
    
    h2{
        font-size: 1.4rem;
        color: #C0DF33;
        margin-bottom: 16px;
        line-height:  26px;
       
    
    
    }
    
    p{
        font: size 0.875 rem;
        line-height:  26px;
        color: #9AA7BE;
        margin-bottom: 32px;
    
    }
    
    /* code for details section */
    
    
    #details-section{
        /* padding: 2.5rem 1.5rem; */
        justify-content:left;
        height: 100vh;
        width: 50%;
        background-color: #2AB3B1;
        
    }
    
    .signup-section{
        width: 50%;
        height: 100vh;
        width: 50%;
        
    }
    
    
    h3{
        font-size:1.25rem ;
        color:#ffff ;
        margin-bottom: 18px;
        line-height: 25px;
    
    }
    
    #price-amount{
        font-size: 32px ;
        color: white;
        font-weight: bold;
        margin-bottom: 4px;
    }
    
    #frequency{
        color: #ffff;
        opacity: 50%;
    }
    
    
    #access{
        font: size 0.875 rem;
        line-height:  26px;
        color: #ffffff;
        margin-bottom: 32px;
    }
       
    #Sign-up{
        color: white;
        background-color: #C0DF33;
        width: 195%;
        height: 48px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight:900;
        letter-spacing: 1.2px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973);
    }

    
/* code for why us section */


#footer{
    padding: 2.5rem 1.5rem;
    justify-content:left;
    height: 100vh;
    width: 50%;
    background-color: #4BBFBD;
    
    
}

#WhyUs{
margin-top: 25px;
margin-bottom:25px ;

}

#unordered-list{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


}